<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head.ejs',{title:'Online Shop Admin | Products'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main>
        <div>
            <h2 class="heading2">Administration</h2>
            <h3>Products Manage</h3>
            <a class="btn" href="/admin/products/new">Add Product</a>
        </div>
        <section class="product-section">
            <% for (product of products) {  %> 
            <div id="product-item">
                <img src="/images/assent/<%= product.filePath %>" alt="Product image">
                <div>
                    <div class="heading">
                        <h3><%= product.title %></h3>
                        <p>₹ <%= product.price %> </p>
                    </div>
                    <div class="summary"><%= product.summary %></div>
                    <div class="text"><%= product.description %></div>
                </div>
                <div class="btns">
                    <a href="/admin/update-product/<%= product._id %>" class="btn">Update</a>
                    <form action="/admin/products/<%= product._id %>" method="POST">
                        <button class="btn"> Delete</button>
                    </form>
                </div>
            </div>
           <% } %> 
        </section>            
    </main>
</body>
</html>
<style>
.btns{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btns form button{
    background-color: rgb(255, 74, 74);
    cursor: pointer;
}
a {
    text-decoration: none;
}
#product-item .heading{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product-item .summary{
    padding: 0;
}
#product-item .text{
    padding: 8px 0 0 0;
    font-size: 0.7rem;
}
</style>