<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head.ejs',{title:'Online Shop Admin | Update'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main id="add-form">
        <form  action="" method="POST" >
             <h3>Product Update Manage</h3>
            <div id="form-item">
                <label for="title">Title</label>
                <input id="title" type="text" name="title" value="<%= product.title %>" required>
            </div>
            <div id="form-item">
                <label for="summary">Summary</label>
                <input id="summary" type="text" name="summary" value="<%= product.summary %>" required>
            </div>
            <div id="form-item">
                <label for="price">Price</label>
                <input id="price" type="number" name="price" value="<%= product.price %>" required>
            </div>
            <div id="form-item">
                <label for="description">Description</label>
                <textarea name="description" id="description"  rows="5"><%= product.description %></textarea>
            </div>
            
            <div id="form-item">
                <button class="btn">Update details</button>
            </div>
        </form>
        <form action="" method="POST" enctype="multipart/form-data">
            <div id="form-image">
                <label for="price">Image</label>
                <div>
                    <img id="preview-image" src="" alt="Product image">
                    <input id="image" type="file" name="image" required>
                </div>
            </div>
            <div id="form-item">
                <button class="btn">Update image</button>
            </div>
        </form>
    </main>
</body>
</html>
<style>
    h3{
    margin: 0.5rem 0;
}
#add-form{
    margin: 6rem auto;
    max-width: 40%;
    color: black;
    background-color: white;
    padding:1rem 3rem ;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgb(160, 160, 160);
}
#form-item{
    padding: 1%  0;
}
#form-item label{
    display: block;
    font-size: 17px;
}
#form-item input, textarea{
    margin-top: 0.4rem;
    width: 97%;
    min-height: 2rem;
    border-radius: 8px;
    font-size: 18px;
    align-items: center;
    padding: 1px 8px;
    border: none;
    background-color: rgb(230, 230, 230);
    transition:400ms;
}
#form-item input:focus, textarea:focus{
    outline: none;
    box-shadow: 1px 1px 8px rgb(160, 160, 160);
    background-color: rgb(255, 255, 255); 
}
#form-image img{
    padding-top: 8px;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 8px;
    display: none;
}
</style>