<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head.ejs',{title:'Online Shop | Products'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main>
        <h2 class="heading2">Our All Products</h2>
        <section class="product-section">
            <% for (product of products) { %> 
            <div id="product-item">
                <img src="/<%= product.filePath %>" alt="Product image">
                <div>
                    <div class="heading">
                        <h3><%= product.title %></h3>
                        <p>₹ <%= product.price %> </p>
                    </div>
                    <div class="summary"><%= product.summary %></div>
                    <div class="text"><%= product.description %></div>
                </div>
            </div>
           <% } %> 
        </section>  
    </main>
</body>
</html>
<style>
#product-item .heading{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#product-item .summary{
    padding: 0;
}
#product-item .text{
    padding: 8px 0 0 0;
    font-size: 0.7rem;
}
</style>