<!DOCTYPE html>
<html lang="en">

    <%- include('../shared/head.ejs',{title:'Online Shop | Product Details'}) %> 
<body>
    <%- include('../shared/header.ejs') %> 
    <main>
        <h2 class="heading2">Product Details</h2>
        <section id="product-detail">
            <div>
                <img src="/images/assent/<%= product.image %>" alt="">
            </div>
            <div>
                <h2><%= product.title %></h2>
                <div><%= product.summary %></div>
                <p><%= product.description %></p>
                <div>M.R.P.: <b><%= product.price %></b></div>
                <div><button id="add-item" class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button></div>
            </div>
        </section>
    </main>
</body>
</html>
<style>
#product-detail{
    display: flex;
    gap: 3rem;
}
#product-detail img{
    max-width: 35rem;
    max-height: 35rem;
}
</style>